{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Gradient Background -->
<div class="gradient-background"></div>

<!-- Chatbot Section -->
<div class="chatbot-section" id="chatbot-section">
    <h1>Welcome to Medi Ai</h1>
    <p>Your personal mental health assistant</p>

    <div class="chatbot-container">
        <div class="title-bar">
            <a href="http://127.0.0.1:8000/Chatbot">
                <img src="{% static 'images/medibot_logo.png' %}" width=125>
            </a>
            <span class="status">Online</span>
        </div>
        <div class="chat-messages-container" id="chat-messages">
            <!-- Chat messages will appear here -->
        </div>
        <div class="input-container">
            <textarea class="user-input" id="user-input" placeholder="Type your message here"></textarea>
            <button class="send-btn" id="send-btn">
                <img src="{% static 'images/send_icon.png' %}" alt="Send Icon">
            </button>
        </div>
    </div>
</div>
{% endblock %}
