<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Medi Ai</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="contact-page">
    <header class="header-content">
        <div class="logo">
            <a href="http://127.0.0.1:8000/login/">
                <img src="{% static 'images/medibot_logo.png' %}" alt="Medi Ai Logo">
            </a>
        </div>
        <nav>
            <ul class="nav-links">
                <ul class="nav-links">
                    <li><a href="http://127.0.0.1:8000/">Home</a></li>
                    <li><a href="http://127.0.0.1:8000/chatbot/">Chatbot</a></li>
                    <li><a href="#about-section">About Us</a></li>
                    <li><a href="http://127.0.0.1:8000/login/">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="contact-container">
        <h2>Contact Us</h2>
        <form method="POST" action="{% url 'contact' %}">
            {% csrf_token %}
            <label for="first_name"><b>First Name:</b></label>
            <input type="text" id="first_name" name="first_name" placeholder="First Name" required>

            <label for="last_name"><b>Last Name:</b></label>
            <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>

            <label for="email"><b>Email:</b></label>
            <input type="email" id="email" name="email" placeholder="Email" required>

            <label for="phone"><b>Phone:</b></label>
            <input type="tel" id="phone" name="phone" placeholder="Phone" required>

            <input type="submit" value="Submit">
        </form>
    </div>

    <footer class="footer-content">
        © 2024 Medi Ai.
    </footer>
</body>
</html>
